In [8]:
import pandas as pd

james_bond_data = pd.read_csv("jamesbond.csv").convert_dtypes()

In [10]:
james_bond_data.head()

,Year,Movie,Bond,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,Bond_Car_MFG,...,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Conquests,Martinis,BJB,Kills_Bond,Kills_Others,Top_100,Video_Game
0,1962,Dr. No,Sean Connery,Terence Young,Monty Norman,"Richard Maibaum, Johanna Harwood & Berkely Mather",Ted Moore,"Great Britain, Jamaic","England, Jamaica",Sunbeam,...,110,7.3,7.7,3,2,1,4,8,0,0
1,1963,From Russia with Love,Sean Connery,Terence Young,John Barry,Richard Maibaum & Johanna Harwood,Ted Moore,"United Kingdom, Great Britain, Turkey, Croatia...","England, Scotland, Italy, Switzerland, Turkey",Bently,...,115,7.5,8.0,4,0,0,11,16,0,1
2,1964,Goldfinger,Sean Connery,Guy Hamilton,John Barry,Richard Maibaum & Paul Dehn,Ted Moore,"United States, Great Britain, Switzerland","England, Switzerland, United States",Aston Martin,...,110,7.8,8.4,2,1,2,9,68,1,1
3,1965,Thunderball,Sean Connery,Terence Young,John Barry,Richard Maibaum & John Hopkins,Ted Moore,"France, Great Britain, Bahamas, United States","England, France, Bahamas, United States",Aston Martin,...,130,7.0,6.8,3,0,0,20,90,1,0
4,1967,You Only Live Twice,Sean Connery,Lewis Gilbert,John Barry,Roald Dahl,Freddie Young,"United States, Russia, Kazakhstan, Norway, Japan","Japan, Spain, Norway",Toyota,...,117,6.9,6.3,3,1,0,21,175,1,0

In [14]:
james_bond_data.columns

Index(['Year', 'Movie', 'Bond', 'Director', 'Composer', 'Writer',
       'Cinematographer', 'Depicted_Film_Loc', 'Shooting_Loc', 'Bond_Car_MFG',
       'Bond_Girl_Nat', 'US_Gross', 'US_Adj', 'World_Gross', 'World_Adj',
       'Budget', 'Budget_Adj', 'Film_Length', 'Avg_User_IMDB',
       'Avg_User_Rtn_Tom', 'Conquests', 'Martinis', 'BJB', 'Kills_Bond',
       'Kills_Others', 'Top_100', 'Video_Game'],
      dtype='object')

In [16]:
james_bond_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               24 non-null     Int64
 1   Movie              24 non-null     string
 2   Bond               24 non-null     string
 3   Director           24 non-null     string
 4   Composer           24 non-null     string
 5   Writer             24 non-null     string
 6   Cinematographer    24 non-null     string
 7   Depicted_Film_Loc  24 non-null     string
 8   Shooting_Loc       24 non-null     string
 9   Bond_Car_MFG       24 non-null     string
 10  Bond_Girl_Nat      24 non-null     string
 11  US_Gross           24 non-null     Int64
 12  US_Adj             24 non-null     Int64
 13  World_Gross        24 non-null     Int64
 14  World_Adj          24 non-null     Int64
 15  Budget             24 non-null     Int64
 16  Budget_Adj         24 non-null     Int64
 17  Film_Length        24 non-null     Int64
 18  Avg_User_IMDB      24 non-null     Float64
 19  Avg_User_Rtn_Tom   24 non-null     Float64
 20  Conquests          24 non-null     Int64
 21  Martinis           24 non-null     Int64
 22  BJB                24 non-null     Int64
 23  Kills_Bond         24 non-null     Int64
 24  Kills_Others       24 non-null     Int64
 25  Top_100            24 non-null     Int64
 26  Video_Game         24 non-null     Int64
dtypes: Float64(2), Int64(15), string(10)
memory usage: 5.6 KB

In [20]:
james_bond_data.loc[james_bond_data.isna().any(axis="columns")]

Empty DataFrame
Columns: [Year, Movie, Bond, Director, Composer, Writer, Cinematographer, Depicted_Film_Loc, Shooting_Loc, Bond_Car_MFG, Bond_Girl_Nat, US_Gross, US_Adj, World_Gross, World_Adj, Budget, Budget_Adj, Film_Length, Avg_User_IMDB, Avg_User_Rtn_Tom, Conquests, Martinis, BJB, Kills_Bond, Kills_Others, Top_100, Video_Game]
Index: []

[0 rows x 27 columns]

In [30]:
james_bond_data["Bond"].value_counts()

Bond
Roger Moore       7
Sean Connery      6
Pierce Brosnan    4
Daniel Craig      4
Timothy Dalton    2
George Lazenby    1
Name: count, dtype: Int64

james_bond_data.loc[james_bond_data.duplicated(keep=False)]